.home {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #102a43, #243b53);
  padding: 1.25em 1.25em 30em;
  align-items: center;
}

.titleContainer {
    padding-top: 5em;
}

.home p {
  font-size: 2em;
  color: #e4e6eb;
}

.callToAction {
    background-color: #6fcf97;
    padding: 0.5em;
    margin-left: 1.25em;
    transition: 0.5s;
    border-radius: 2px;
}

.callToAction:hover {
    padding: 1em;
    cursor: pointer;
}
.ctaContainer {
    padding-top: 2.5em;
    color: #e4e6eb;
}
@media (min-width: 2560px) {
  .titleContainer {
    padding-top: 20em;
  }

  .home p {
    font-size: 5em;
    color: #e4e6eb;
  }

  .callToAction {
    font-size: 3em;
    background-color: #6fcf97;
    padding: 1em;
    margin-right: 0;
    margin-left: 3em;
    transition: 0.5s;
    border-radius: 40px;
  }

  .callToAction:hover {
    font-size: 3.5em;
    padding:1.6em;
    cursor: pointer;
  }
  .ctaContainer {
    padding-top: 2.5em;
    color: #e4e6eb;
  }
}