.services {
  display: flex;
  padding-top: 2.5em;
  background: linear-gradient(0deg, #102a43, #243b53);
  align-items: center;
  flex-direction: column;
}

.webImage {
  width: 298px;
  height: 193px;
  padding-bottom: 5em;
}

.services p {
  width: 90%;
  color: #e4e6eb;
  padding-bottom: 3.75em;
  font-size: 1.5em;
  text-align: center;
}
@media (min-width: 2560px) {
  .webImage {
    width: 894px;
    height: 579px;
    padding-bottom: 10em;
  }

  .services p {
    color: #e4e6eb;
    padding-bottom: 3.75em;
    font-size: 3.5em;
    text-align: center;
  }
}
@media (min-width: 800px) and (max-width: 2559px) {
  .services p {
    font-size: 2.5em;
  }
  .webImage {
    width: 596px;
    height: 386px;
  }
}
