.navOnScroll {
  transition: 0.5s;
  position: fixed;
  display: flex;
  height: 3.13em;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #34495e;
}

.navBar {
  transition: 0.5s;
  display: flex;
  height: 3.13em;
  width: 100%;
  position: absolute;
  justify-content: space-around;
  align-items: center;
}

.navOpen {
  transition: 0.5s;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #34495e;
  flex-direction: column;
  align-items: center;
}

.navLink {
  display: flex;
  font-size: 2em;
  font-weight: 400;
  color: #e4e6eb;
  padding-top: 2.5em;
}

.navLink:hover {
  cursor: pointer;
}

.border {
  display: flex;
  height: 1px;
  animation-name: animacionborder;
  animation-duration: 1s;
  background-color: #f5a623;
}

@keyframes animacionborder {
  0% {
    height: 0px;
  }
  100% {
    height: 1px;
  }
}

.logo {
  display: flex;
  color: #e4e6eb;
  font-weight: 600;
}
@media (min-width: 2560px) {
  .logo {
    font-size: 3em;
  }

  .navBar {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
  }

  .linksContainer {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navLink {
    font-weight: 400;
    padding-top: 0.2em;
    font-size: 2.8em;
    transition: 0.5s;
  }

  .navLink:hover {
    font-size: 3.2em;
  }

  .contactLink {
    color: #e4e6eb;
    display: flex;
    font-size: 3em;
    font-weight: 400;
    border-radius: 4px;
    background-color: #6fcf97;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    transition: 0.5s;
  }

  .contactLink:hover {
    font-size: 3.2em;
    transition: 0.5s;
    padding: 0.35em;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }

  .navOnScroll {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: #34495e;
  }
}

@media (min-width: 959px) and (max-width: 2559px) {
  .logo {
    font-size: 1.5em;
  }
  .navBar {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
  }
  .linksContainer {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navLink {
    font-weight: 400;
    padding-top: 0.2em;
    font-size: 1.4em;
    transition: 0.5s;
  }
  .navLink:hover {
    font-size: 1.5em;
  }
  .contactLink:hover {
    font-size: 1.5em;
    transition: 0.5s;
    padding: 0.35em;
  }

  .navOnScroll {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    background-color: #34495e;
  }
  .contactLink {
    color: #e4e6eb;
    display: flex;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 4px;
    background-color: #6fcf97;
    padding: 0.2em;
    cursor: pointer;
    transition: 0.5s;
  }
  
}
